* {
    border: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

ul {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.lefthero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

.righthero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.info {
    display: flex;
    justify-content: center;
    padding: 0 12px;
}

.infotitle {
    display: flex;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.quotetext {

}

.quotethor {
    display: flex;
    margin-left: auto;
}